body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
main {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
img#logo-receita {
    height: 60px;
    width: 200px;
    position: absolute;
    margin-left: 50px;
}
header h1{
    text-align: center;
    font-size: 23pt;
    margin: 0px;
    padding: 0px;
}
header h2{
    text-align: center;
    font-size: 13pt;
    padding: 0px;
    margin: 10px 0px 35px 0px;
}
footer{
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
}
footer a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
footer a:hover {
    color: blue;
    text-decoration: underline;
}
body header{
    margin-top: 50px;
}
input#calcular {
    margin-top: 20px;
}
div.resultado{
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 0px;
    font-weight: bolder;
}
p#bruto{
    font-size: 15pt;
    font-weight: bolder;
}
input#pegarSal{
    width: 150px;
    height: 20px;
    border-radius: 0px;
}
input#pegarSal:hover{
    background-color: #90ee9098;
}
input#calcular{
    font-size: 16px;
    border-radius: 10px;
    padding: 3px;
}
input#calcular:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

